<section id="jSplash">
    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 300 300" enable-background="new 0 0 300 300" xml:space="preserve">
        <path d="M262.9,213c-8.2,7.1-19.2,10.6-33,10.6c-13.3,0-23.8-3.6-31.7-10.6c-8.2-7.3-12.2-18-12.2-31.8V91.4l-32-39.3v129.3,c0,21.7,7,38.6,21,50.3c14,11.7,32.4,17.6,55,17.6c23,0,41.9-5.9,56.1-17.6c2.6-2.1,5-4.5,7.2-7l-20.8-25.8,C270.4,204.6,267.2,209.3,262.9,213z"/>
        <path d="M113.5,224.3c-1.6-5.9-2.5-12.8-2.5-22.4v-25c0-14.3-3.5-27.5-10.5-39.2c-6.2-10.3-16.8-18-31.7-22.9l-1.2-0.4l1.2-0.5,C82.2,108,92.2,100.2,99.4,90c6.9-9.8,10.4-21.7,10.4-35.3c0-1.2-0.1-2-0.1-2.9c0-0.2,0-0.2,0-0.4L7.6,131h19.6,c15.6,0,27.7,4,35.6,12.3c9.5,9.9,14.2,20.9,14.2,34v24.3c0,2.2-0.1,4.5-0.2,6.7c-0.1,6.5-0.3,13.1,0.7,19c1.3,8,2.9,13.8,7.4,18.8,h42.9l-5-5.6C119.6,236.7,115.2,230.5,113.5,224.3z"/>
        <path d="M0,0v300h300V0H0z M84.5,247l-0.1,0c-4.7-5.5-6.5-11.3-7.8-19.5c-1-6-0.8-12.7-0.6-19.3c0-2.2,0.2-4.5,0.2-6.6v-24.3,c0-12.8-4.6-23.6-13.9-33.3c-7.7-8.1-19.5-12-34.9-12H4.7l105.9-82.5l0,0.8c0,0.6,0.1,1,0.1,1.4c0.1,0.9,0.1,1.7,0.1,3,c0,13.8-3.6,25.8-10.6,35.8c-7.1,10.1-16.9,17.9-29.9,23.7c14.5,4.9,24.8,12.6,31,22.9c7.1,11.9,10.7,25.3,10.7,39.7v25,c0,9.5,0.8,16.4,2.4,22.1c1.6,5.7,5.7,11.9,9.1,15.7l6.4,7.3H84.5z M294.2,225c-2.3,2.7-4.8,5.2-7.6,7.5,c-14.4,11.8-33.5,17.8-56.7,17.8c-22.8,0-41.5-6-55.6-17.9c-14.2-11.9-21.3-29-21.3-51v-132l34,41.8v90.2c0,13.4,3.9,23.9,11.9,31,c7.7,6.9,18.1,10.4,31.1,10.4c13.5,0,24.3-3.5,32.3-10.4c4.4-3.8,7.5-8.6,9.5-14.5l0.3-0.8l22.4,27.8L294.2,225z"/>
    </svg>
</section>

<script>
    //
    // Screen Transition
    //
    $( document ).ready(function() {

        // Hide Landing
        $("nav a").click(function(){
            $(".landing .logo").fadeOut(500);
        });

        // Screen Transitions
        $("nav a").click(function(){
            var idName = $(this).attr('id');
            var className = $(this).attr('class');
            if(className !== 'active') {                
                $(".content").fadeOut(500);
                $('.' + idName).delay(500).fadeIn(1000);
            }
        });

        // Hide Modal
        $("nav a").click(function(){
            $(".modal-content").fadeOut(1);
            $(".modal-backdrop").fadeOut(1);
        });

        // Active Class to Nav Item
        $("#work, #about, #blog").click(function() {
            var $links = $("#work, #about, #blog");
            $links.not($(this)).removeClass('active');
            $(this).addClass('active');

            // Add negative class to nav items
            if($(this).is('#work')){
                $links.addClass('negative');
            }
            else{
                $links.removeClass('negative');
            }
        });
    });
</script>
<script>
    //
    // jPreloader
    //
    $(document).ready( function() {
        var timer;  //timer for splash screen
        
        //navigation swap
        $('#navigation a').on('click', function() {
            if( !$(this).hasClass('btn-main') ) {
                $('#navigation a')
                .toggleClass('btn-secondary')
                .toggleClass('btn-main');
                
                var tar = $(this).attr('href');
                $('.holder').fadeOut(500, function() {
                    $(tar).fadeIn(500);
                });
            }
            return false;
        });
        $('#set2').hide();
        $('#header').css('top', '-100px');
        $('#footer').css('bottom', '-100px');
        $('#wrapper').hide();
        
        //calling jPreLoader
        $('body').jpreLoader({
            splashID: "#jSplash",
            // loaderVPos: '70%',
            autoClose: true,
            // closeBtnText: "Let's Begin!",
            splashFunction: function() {  
                //passing Splash Screen script to jPreLoader
                $('#jSplash').children('section').not('.selected').hide();
                $('#jSplash').hide().fadeIn(0);
                
                timer = setInterval(function() {
                    splashRotator();
                }, 4000);
            }
        }, function() { //callback function
            clearInterval(timer);
            $('#footer')
            .animate({"bottom":0}, 500);
            $('#header')
            .animate({"top":0}, 800, function() {
                $('#wrapper').fadeIn(1000);
            });
        });
        //create splash screen animation
        function splashRotator(){
            var cur = $('#jSplash').children('.selected');
            var next = $(cur).next();
            
            if($(next).length != 0) {
                $(next).addClass('selected');
            } else {
                $('#jSplash').children('section:first-child').addClass('selected');
                next = $('#jSplash').children('section:first-child');
            }    
            $(cur).removeClass('selected').fadeOut(800, function() {
                $(next).fadeIn(800);
            });
        }
    });
</script>



