.landing {
    width:calc(100% - 10vw);
    top: calc(50% - ( ( 300px * 0.69333 ) / 2) );
    top: calc(50% - 150px);
    position: absolute;
    transition: all 1s ease;
    @media (max-width: $screen-small) {
        width:100%;
        top: calc(50% - 125px);
    }
    .logo {
        width:100%;
        svg {
            fill: $c-black;
            max-width: 300px;
            margin: 0 auto;
            display: block;
            transition: opacity 3s ease .3s;
            @media (max-width: $screen-small) {
                max-width: 250px;
                max-height: 300px;
                margin:auto;
            }
        }
    }
}

body.loaded {
    .landing .logo svg {
        opacity:.1;
    }
}