
html, body {
    font-family: 'Source Sans Pro', sans-serif;
}

.site-container {
    padding: 10em 5vw 5em;
    @media (max-width: $screen-small) {
        padding: 0;
    }
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

section.content {
    width:100vw;
    max-width: 100%;
    max-height: 100%;
    display: none;
}

section.work {
    @media (max-width: $screen-small) {
        padding-top: 8em;
        background: #231F20;
    }
    .item-background {
        background:$c-main;
        position: fixed;
        top:0;
        right:0;
        bottom:0;
        left:0;
        z-index: -1;
        opacity: 0;
        transition: opacity .5s ease;
        background-size:cover;
        background-position: center;
        background-repeat: no-repeat;
        &.active {
            opacity: 1;
        }
        @media (max-width: $screen-small) {
            display: none;
        }
    }
    .items {
        .item{
            width: calc(100% / 3.1);
            height: 10em;
            display: inline-block;
            padding: 0 .75em 1.5em .75em;
            @media (max-width: $screen-small) {
                width: 100%;
                padding: 0;
                height: 70vw;
            }
            a {
                border:2px solid $c-black;
                padding:.5em;
                display: block;
                height:100%;
                color: $c-black;
                transition: all .25s ease;
                background-size: 0%;
                @media (max-width: $screen-small) {
                    border:none;
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: cover;
                }
                h1.title {
                    color:#333;
                    @media (max-width: $screen-small) {
                        font-size: 1.2em;
                        padding: .5em;
                        opacity: .6;
                        letter-spacing: 1px;
                        &.light {
                            color:#fff;
                        }
                        &.dark {
                            color:#333;
                        }
                    }
                }
                h2 {

                }
                &:hover {
                    border-color:$c-main;
                    h1 {
                        color:$c-main;
                        transition: all .25s ease;
                        &.light {
                            color:#fff;
                        }
                        &.dark {
                            color:#333;
                        }
                    }
                }
            }
        }
    }
}

section.about {
    @media (max-width: $screen-small) {
        padding: 7em 0 3em 0;
    }
    .container {
        @media (max-width: $screen-small) {
            padding:0 7vw
        }
    }
    p {       
        font-size: 2em;
        line-height: 1.3em;
        color:#606469;
        font-weight: 600;
        margin:0 0 1em 0;
        @media (max-width: $screen-small) {
            font-size: 1.34em;
        }
        a {
            color:$c-main;
            @media (min-width: $screen-medium) {
                span {
                    transition: all 4s ease;
                    display: inline-block;
                }
                &:hover {
                    span {
                        &:nth-child(odd) {
                            transform:translateY(-.05em);
                        }
                        &:nth-child(even) {
                            transform:translateY(.05em);
                        }
                    }
                }
            }
        }
        b {
            font-weight: 700;
        }
    }
}

section.blog {
    @media (max-width: $screen-small) {
        padding: 7em 0 3em 0;
    }
    .container {
        @media (max-width: $screen-small) {
            padding:0 7vw
        }
    }
    .items {
        .item {
            margin:0 0 2em 0;
            a {
                font-size:1.4em;
                line-height: 1.3em;
                transition: all .25s ease;
                @media (max-width: $screen-small) {
                    font-size: 1.24em;
                }
                h1 {
                    font-weight: 700;
                }
                h2 {
                    margin: .25em 0 0 0;
                }
                &:hover {
                    color:$c-main;
                    text-indent: 1em;
                }
            }
        }
    }
}











