
nav {
    $number-of-sections: 3;
    position: fixed;
    top:0;
    left:0;
    width:100%;
    z-index: 999;
    ul {
        li {
            width: calc(100% / #{$number-of-sections});
            display: inline;
            text-align: center;
            float:left;
            a {
                padding: 4vh 0 0 0;
                display: inline-block;
                cursor: pointer;
                span {
                    color: #333;
                    font-size: .7em;
                    letter-spacing: 6px;
                    margin: 0 0 1em 0;
                    font-weight: 600;
                    text-transform: uppercase;
                    display: inline-block;
                    @media (max-width: $screen-small) {
                        margin: 0 0 .6em 0;
                        font-weight: 700;
                    }
                }
                svg {
                    height: 1.4em;
                    display: block;
                    transition: all .25s ease;
                    fill: $c-black;
                    @media (max-width: $screen-small) {
                        height: 1.1em;
                    }
                }
                &.active {
                    svg {
                        fill: $c-main;
                    }
                }
                &:hover {
                    svg {
                        fill: $c-main-dark;
                    }  
                }
                @media (max-width: $screen-small) {
                    &.negative {
                        span {
                            color:#fff;
                        }
                        svg {
                            fill: #fff;
                        }
                        &.active {
                            svg {
                                fill: $c-main;
                            }
                        }
                    }
                }
            }
        }
    }
}

nav ul li {
    opacity: 0;
}

body.loaded nav ul li {
    transform: translateY(-3em);
    -ms-animation-name: website-ready-nav-drop;
    -ms-animation-duration: 2s;
    -ms-animation-fill-mode: forwards;
    -webkit-animation-name: website-ready-nav-drop;
    -webkit-animation-duration: 2s;
    -webkit-animation-fill-mode: forwards;
    animation-name: website-ready-nav-drop;
    animation-duration: 2s;
    animation-fill-mode: forwards;

    &:nth-child(1) {
       -ms-animation-delay: 300ms;
       -webkit-animation-delay: 300ms;
       animation-delay: 300ms;
    }
    &:nth-child(2) {
       -ms-animation-delay: 500ms;
       -webkit-animation-delay: 500ms;
       animation-delay: 500ms;
    }
    &:nth-child(3) {
       -ms-animation-delay: 700ms;
       -webkit-animation-delay: 700ms;
       animation-delay: 700ms;
    }

}

@-ms-keyframes website-ready-nav-drop {
    0% {transform: translateY(-3em); opacity:0; display: block;}
    100% {transform: translateY(0em); opacity:1;}
}
@-webkit-keyframes website-ready-nav-drop {
    0% {transform: translateY(-3em); opacity:0;display: block;}
    100% {transform: translateY(0em); opacity:1;}
}
@keyframes website-ready-nav-drop {
    0% {transform: translateY(-3em); opacity:0;display: block;}
    100% {transform: translateY(0em); opacity:1;}
}