
.modal.current {

    // max-width: 1200px;
    // margin: 0 auto;
    // padding: 10em 5vw 0;

    width:100%;
    height:100%;
    position: absolute;
    z-index: 9;
    top:0;
    bottom:0;
    left:0;
    right:0;
    margin:0;
    background-color:#fff;
}

.modal.backdrop {
    background-color:#fff;
    position: fixed;
    top:0;
    bottom:0;
    left:0;
    right:0;
    z-index: 8;
}

.image-container {
    img {
        width:100%;
        height:auto;
    }
    .w1 {
        width:25%;
    }
    .w2 {
        width:50%;
    }
    .w3 {
        width:75%;
    }
    .w4 {
        width: 100%;
    }
    // Tablet
    @media screen and (max-width: $screen-medium) {
        .w1 {
        width:50%;
        }
        .w2 {
            width:50%;
        }
        .w3 {
            width:100%;
        }
        .w4 {
            width: 100%;
        }
    }
    // Phone
    @media screen and (max-width: $screen-small) {
        .w1 {
            width:100%;
        }
        .w2 {
            width:100%;
        }
        .w3 {
            width:100%;
        }
        .w4 {
            width: 100%;
        }
    }
}






