
<section class="about content">
    <div class="container">
        <p>
            Trill,<br>
            My name is M<s>ichael</s> Rurka. I love design, coding, art, hummus, and Korea.<br>
            Primarily interested in projects that contribute to the advancement of humanity. 
            If this is you (or just want to say hi), hit me up: <a href="mailto:michael@rurkadesign.com">michael@rurkadesign.com</a>
        </p>
        <p>
            Not on Twitter (sorry <a href="https://twitter.com/MahdiF" target="_blank">@MahdiF</a>), but you can also find me on <a href="https://ca.linkedin.com/in/michaelrurka" target="_blank">LinkedIn</a> &amp; <a href="https://www.instagram.com/_rurka_/" target="_blank">Instagram</a>
        </p>
        <p>
            I'm probably in Montreal, Toronto, or New Brunswick.
        </p>
    </div>
</section>