
<section class="about content">
    <div class="container">
        <p>
            My name is Michael Rurka. I love design, coding, art, hummus, and Korea.<br>
            Primarily interested in projects that contribute to the advancement of humanity. 
            If this is you (or just want to say hi), hit me up: 
            <a href="mailto:michael@rurkadesign.com">
            <span>m</span><span>i</span><span>c</span><span>h</span><span>a</span><span>e</span><span>l</span><span>@</span><span>r</span><span>u</span><span>r</span><span>k</span><span>a</span><span>d</span><span>e</span><span>s</span><span>i</span><span>g</span><span>n</span><span>.</span><span>c</span><span>o</span><span>m</span>
            </a>
        </p>
        <p>
            Not on Twitter (sorry 
                <a href="https://twitter.com/MahdiF" target="_blank">
                <span>@</span><span>M</span><span>a</span><span>h</span><span>d</span><span>i</span><span>F</span>
                </a>), but you can find me on
            <a href="https://ca.linkedin.com/in/michaelrurka" target="_blank">
                <span>L</span><span>i</span><span>n</span><span>k</span><span>e</span><span>d</span><span>I</span><span>n</span>
            </a> &amp; <a href="https://www.instagram.com/_rurka_/" target="_blank">
                <span>I</span><span>n</span><span>s</span><span>t</span><span>a</span><span>g</span><span>r</span><span>a</span><span>m</span>
            </a>. I'm probably in Montreal, Toronto, or New Brunswick.
        </p>
    </div>
</section>